<br><br><br>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<section >
  <div *ngIf="success">
<h2 class="items-head"><strong>Your Cart</strong> </h2>
 <button id="addfeature" (click)="addmore()" class="btn btn-success">Add More to cart</button> 
  <div class="completed">
  <div class="items" *ngFor="let it of items">
    <div class="image-body">
      <a href="#"><img src="{{it.image}}" alt="image" height="200px" width="200px"></a>
    </div>
    <div>
      <ul>
        <li><strong>{{it.pname}}</strong></li>
        <li><strong>Price : </strong>{{it.price}}</li>
        <li><strong>Address :</strong>{{it.address}}</li>
        <li><strong>UserEmail:</strong>{{it.email}}</li>
        <li><strong>Discount : </strong>{{selected}}% off</li>
      </ul>
    </div>
    <input class="inputelement" type="number"  [(ngModel)]="stockqnt" placeholder="Quantity">
    
    
    <li><strong>Price</strong> after Discount: Rs.{{it.price*stockqnt*(100-selected)/100}}</li>
    <div class="product-removal" id="delete">
      <button class="btn btn-dark" (click)="delete(it.orderid)">
        <i class="material-icons">delete</i>
      </button>
      <br>
    <button type="submit"  class="btn btn-dark" (click)="addsales(it)">Place Order</button>
  </div>
  <button routerLink="/pay" class="btn btn-dark" >Payment</button>
</div>
</div>
<h2 *ngIf="!success" class="loginhead"><a routerLink="/signin">Login</a> to see your Orders</h2>

<select class="discOptions" (change)="update($event)">
    <option  value="default">Discount  Coupon</option>
    <option *ngFor="let disc of discounts" [value]="disc.percentage">
        {{disc.percentage}}
    </option>
</select>

