<br>
<br>
<br>
<div>
    <h2 class="books-head"><strong>Meat</strong> </h2>
    
    
    <div class="beds">
      <div class="bitems" *ngFor="let it of items">
        <div class="image-body">
          <a href="#"> <img class="image" id="img" src="{{it.image}}"  alt="image" height="200px" width="200px" ></a>
        </div>
        <div >
          <ul>
            <li> <strong>{{it.pname}}</strong></li>
            
            <li><strong>Price</strong> : Rs.{{it.price}}</li>
            
          </ul>
        </div>
        <div class="itemscart">
            <button class="btn btn-dark"  >
                <i class="fa fa-shopping-cart"  type="submit" (click)="cart(it)" ></i>
              </button>
              <button class="btn btn-dark" type="submit" (click)="wishlist(it)">
                <i class="bi bi-heart"></i>
              </button>
        </div>
      </div>
    </div>
    
    <div class="dropdown">
      <button class="dropbtn">Filter By</button>
      <div class="dropdown-content">
        <a style="cursor:pointer" (click)="descend()">High to Low price</a>
        <a  style="cursor:pointer" (click)="ascend()">Low to High price</a>
      </div>
    </div>
</div>

