<br><br><br>
<form [formGroup]="editProduct">
  <div id="form_login">
      <div class="formclass">
          <p class="reghead">Update product Details</p>
          <input class="inputelement" type="number" name="Pid" formControlName="Pid" placeholder="ProductId"><br>
          <input class="inputelement" type="text" name="Pname" formControlName="Pname" placeholder="Enter the pname"><br>
          <input class="inputelement" type="text" name="Description" formControlName="Description" placeholder="Enter the description"><br>
          <input class="inputelement" type="number" name="price" formControlName="Price" placeholder="Enter the price"><br>
          <input class="inputelement" type="text" name="Image" formControlName="Image" placeholder="Enter the image url"><br>

          <input class="inputelement" type="number" name="Stockquantity" formControlName="Stockquantity" placeholder="Enter the stock quantity"><br>
          <input class="inputelement" type="text" name="Category" formControlName="Category" placeholder="Enter the category"><br>
          <button class="btn btn-success" id="just" type="submit" (click)="collection()">Update</button><br>
      </div>
  </div>
</form>
<div class="ocean">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>



<!-- <p>adminproduct works</p> -->