

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">

<div class="trending">
  <div class="search">
    <input type="text" [(ngModel)]="searchInput" style="width:500px;margin-left:30%" class="form-control" placeholder="Search">
    <div>
   
      <div class="prodts">
      <div class="pitems" *ngFor="let b of items | search:searchInput">
        <div class="image-body">
          <a href="#"><img src="{{b.image}}" alt="image" height="200px" width="200px"></a>
        </div>
        <div >
          <ul>
            <li> <strong>{{b.pname}}</strong></li>
            <li> {{b.description}}</li>
            <li><strong>Price</strong> : {{b.price}}</li>
            
          </ul>
        </div>
        <div class="itemscart">
          <button class="btn btn-primary" type="submit" (click)="cart(b)">
              <i class="fa fa-shopping-cart"></i>
            </button>
            <button class="btn btn-primary" type="submit" (click)="wishlist(b)">
              <i class="bi bi-heart"></i>
            </button>
      </div>
    </div>
  </div>
  </div>
</div>
<section class="hero pb-3 bg-cover bg-center d-flex align-items-center" style="background: url(assets/images/hero-banner-alt.jpg;)px;">
  <div class="container py-5">
    <div class="row px-4 px-lg-5">
      <div class="col-lg-6">
        <p class="text-muted small text-uppercase mb-2">New Inspiration 2020</p>
        <h1 class="h2 text-uppercase mb-3">20% off on new season</h1><a class="btn btn-dark" href="shop.html">Browse collections</a>
      </div>
    </div>
  </div>
</section>
<div class="photo">
  <div class="heading">
    <h4>Carefully created collections</h4>
    <h3><span>Browse our categories</span></h3>
  </div>
  
</div>


<div class="container">
  
  
  <!--<section class="pt-5">
    <header class="text-center">
      <p class="small text-muted small text-uppercase mb-1">Carefully created collections</p>
      <h2 class="h5 text-uppercase mb-4">Browse our categories</h2>
    </header>
  </section>-->
</div>

   <div class="row">
      <div class="box"> <a  routerLink="/garden"><img src="assets\images\b1.jpg" width="200" height="300"/> <div class="text"><h4>Beverages</h4></div></a> </div>
      <div class="box"> <a  routerLink="/furniture"> <img src="assets\images\c1.jpg" width="200" height="300"/> <div class="text"><h4>Cereals</h4></div> </a></div>
      <div class="box"> <a  routerLink="/furnishings"> <img src="assets\images\d1.jpg" width="200" height="300"/> <div class="text"><h4>Dairy Products</h4></div> </a> </div>
      <div class="box"> <a  routerLink="/carpet"> <img src="assets\images\f1.jpeg" width="200" height="300"/><div class="text"><h4>Fruits</h4></div> </a> </div>
      <div class="box"> <a  routerLink="/electronics"> <img src="assets\images\v1.jpg" width="200" height="300"/> <div class="text"><h4>Vegetables</h4></div></a> </div>
      <div class="box">  <a  routerLink="/beds"> <img src="assets\images\m1.jpg" width="200" height="300"/> <div class="text"><h4>Meat</h4></div> </a> </div>
   </div>  
        
      
      
    
  
    
<!--    <div class="container">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
            
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    
        
        <div class="carousel-inner">
    
          <div class="item active">
            <img src="assets/images/minimalist-furniture-sale-banner-social-media-post-template_22857-382.webp" alt="Los Angeles" style="width:100%;height:280px;" >
            <div class="carousel-caption">
              <h3> Upto 50% off on Furniture</h3>
              <p>Limited Deal</p>
            </div>
          </div>
    
          <div class="item">
            <img src="assets/images/ecommerce-promotions-fail.jpg" alt="Chicago" style="width:80%;height:280px;" >
            <div class="carousel-caption">
              <h3>Shope for home Paylater</h3>
              <p>Shop Now pay later</p>
            </div>
          </div>
        
          <div class="item">
            <img src="assets/images/Flash-Sale-30-Festive-Season-Discount-on-all-Products.jpg" alt="New York" style="width:100%;height:280px;">
            <div class="carousel-caption">
              <h3>Discounts upto 50% on Appliances</h3>
              <p>Applicable to limited users only</p>
            </div>
          </div>
      
        </div>
    
               
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>-->
  
  <!--<section class="goods">
    
    <h2 class="popular">Trending Products on Sale</h2>
    <div class="home-images">
    <div class="inner-popular">
      <img src="assets/images/soomin-black-fabric-shade-floor-lamp-with-brass-base-by-casacraft-soomin-black-fabric-shade-floor-la-343cx2.webp" alt="lamp" height="200px" width="150px">
      <p>Bedroom Lamp</p>
      <p>Price:799</p>
    </div>
    <div class="inner-popular">
      <img src="assets/images/bbc554wc-bbc554-analog-big-bang-creations-original-imag4cw5kwfv3whe.webp" alt="watch" height="200px" width="150px">
      <p>Modern Wall Clock</p>
      <p>Price:1,999</p>
    </div>
    <div class="inner-popular">
      <img src="assets/images/black-iron-rickshaw-shape-floor-planter-with-1-pot-container-by-justoriginals-black-iron-rickshaw-sh-ldsipk.webp" alt="watch" height="200px" width="150px">
      <p>Pot Container for plants</p>
      <p>Price:699</p>
    </div>
  <div class="inner-popular">
    <img src="assets/images/black-ceramic-cut-designer-floor-planter-by-niyara-black-ceramic-cut-designer-floor-planter-by-niyar-plbfrj.jpg" alt="planter" height="200px" width="150px">
    <p>Ceramic floor Planter</p>
    <p>Price:999</p>
  </div>
  <div class="inner-popular">
    <img src="assets/images/gold-toned-metal-hanging-planter-by-tied-ribbons-gold-toned-metal-hanging-planter-by-tied-ribbons-0upssq.jpg" alt="planter" height="200px" width="150px">
    <p>Floor planter</p>
    <p>Price:999</p>
  </div>
  <div class="inner-popular">
    <img src="assets/images/petunia-solid-wood-coffee-table-with-marble-top-in-rustic-teak-finish---mudramark-by-pepperfry-petun-78zpaf.webp" alt="table" height="200px" width="150px">
    <p>Coffee Table</p>
    <p>Price:3,999</p>
  </div>
  <div class="inner-popular">
    <img src="assets/images/6.jpg" alt="headphones" height="200px" width="150px">
    <p>Ultra Smooth sofa</p>
    <p>Price:4,999</p>
  </div>
  <div class="inner-popular">
    <img src="assets/images/miranda-3-seater-sofa-in-navy-blue-colour-by-woodsworth-miranda-3-seater-sofa-in-navy-blue-colour-by-ee7lmu.webp" alt="Trouser" height="200px" width="150px">
    <p>Mens Denim Short</p>
    <p>Price:799</p>
  </div>
</div>
  </section>-->